* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
}
.container {
  background-color: aqua;
  padding: 0 20px;
  margin: 50px;
  max-width: 100%;
  width: 300px;
  height: auto;
  border: 2px solid red;
}
h1 {
  background-color: gray;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
div label {
  display: block;
  color: blueviolet;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  padding: 5px;
}
input {
  outline: none;
  padding: 8px 18px;
  border-bottom: 2px solid blueviolet;
}
a {
  text-decoration: none;
  color: white;
}
button {
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 70px;
  background-color: aqua;
  text-transform: uppercase;
}
